<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Datatables CSS -->
    <link rel="stylesheet" th:href="@{/css/eskeleton.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatable/dataTables.bootstrap5.min.css}">
</head>

<body>
    <div class="container">

        <!-- Duplicado-Inicio -->
        <div class="preloadTrue">
            <div>
                <div type="button" class="btn bg-preload my-3 px-5 py-3" data-bs-toggle="modal"
                    data-bs-target="#gymModal">
                    <div class="into-preload"></div>
                </div>
            </div>
            <br>

            <div class="table bg-preload p-5" style="height: 600px">
                <div class="into-preload"></div>
            </div>


        </div>
        <!-- Duplicado-Fin -->

        <div class="preloadFalse">
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#gymModal">Agregar</button>
            </div>
            <br>

            <table id="exampleGym" class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden-column">Id</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Fecha Creación</th>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="gymModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form id="gymForm" th:action="@{/gyms/save}" th:object="${gym}" method="post">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Gym</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!-- <div class="mb-3">
                                            <label for="code" class="form-label">Codigo</label>
                                            <input type="text" class="form-control" id="code">
                                        </div> -->
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="text" th:field="*{name}" class="form-control" id="name">
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Dirección</label>
                                    <input type="text" th:field="*{address}" class="form-control" id="address">
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Teléfono</label>
                                    <input type="text" th:field="*{phone}" class="form-control" id="phone">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/scriptDatatableGym.js}"></script>
    </div>

</body>

</html>