<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" /> <!-- Tu CSS personalizado -->

    <title>Document</title>
</head>

<body>

    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button id="toggle-btn" type="button">
                    <i class="lni lni-google-drive"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Gym</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a th:href="@{#}" class="sidebar-link">
                        <i class="lni lni-user-4"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{#}" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>Task</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{#}" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-capsule-1"></i>
                        <span>Auth</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a th:href="@{#}" class="sidebar-link">Login</a>
                        </li>
                        <li class="sidebar-item">
                            <a th:href="@{#}" class="sidebar-link">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{#}" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
                        data-bs-target="#mantenimiento" aria-expanded="false" aria-controls="mantenimiento">
                        <i class="lni lni-layout-9"></i>
                        <span>Mantenimiento</span>
                    </a>
                    <ul id="mantenimiento" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link" onclick="loadView('/gyms/listGyms')">Gimnasio</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link" onclick="loadView('/listGyms')">Objetivos</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{#}" class="sidebar-link">
                        <i class="lni lni-message-3-text"></i>
                        <span>Notification</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{#}" class="sidebar-link">
                        <i class="lni lni-gear-1"></i>
                        <span>Setting</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a th:href="@{#}" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>

        <div id="main-content" class="main p-3 col-12">


        </div>


    </div>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>

    <!-- DataTable  -->
    <script type="text/javascript" th:src="@{/js/datatable/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatable/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatable/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/script.js}"></script> <!-- JS para darle funcionalidad al menu -->
    <script>
        async function loadView(url) {
            $.ajax({
                url: url,
                success: function (data) {
                    $('#main-content').html(data);
                },
                error: function () {
                    $('#main-content').html('<p>Error al cargar la vista</p>');
                }
            });
        }
    </script>

</body>

</html>